<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc 
		https://www.springframework.org/schema/mvc/spring-mvcd.xsd 
		http://www.springframework.org/schema/beans 
		https://www.springframework.org/schema/beans/spring-beans.xsd 
		http://www.springframework.org/schema/context 
		https://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx https://www.springframework.org/schema/tx/spring-tx.xsd">

	<import resource="spring-mvc.xml"/>

	<!-- dao自动扫描 -->
	<context:component-scan base-package="${package_root}.model.*.dao.impl" />
	<!-- serivce自动扫描 -->
	<context:component-scan base-package="${package_root}.model.*.service.impl" />
	<!-- controller自动扫描(自动注入) -->
	<context:component-scan base-package="${package_root}.*.controller.*" />
	<import resource="spring-security.xml"/>
	<!-- 默认的首页，如果有新的首页，可以注释掉该行 -->
	<bean class="cho.carbon.hc.web.CommonAdminController" />
	
</beans>